/** Modern css reset  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: unset;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/** Fonts  */
@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
}

/** Component Styles */
body {
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(47, 88%, 63%);
}
.main-container {
    background: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem hsl(0, 0%, 7%);
    cursor: pointer;
    max-width: 23rem;
}
.main-container:hover {
    box-shadow: 1rem 1rem hsl(0, 0%, 7%);
}
.banner-image {
    width: 100%;
    border-radius: 1rem;
}
.tag {
    background: hsl(47, 88%, 63%);
    width: max-content;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.published {
    font-weight: 600;
    font-size: 0.85rem;
}
.title {
    font-size: 1.5rem;
    font-weight: 800;
}
.title:hover {
    color: hsl(47, 88%, 63%);
}
.content {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
}
.author-container {
    display: flex;
    align-items: center;
    max-height: 2rem;
    margin-top: 1rem;
}
.avatar {
    width: 2rem;
}
.author {
    margin: unset;
    font-size: 1rem;
    font-weight: 800;
    margin: 0.5rem;
}
.attribution {
    margin: 2rem;
}